
// Colors

@function color ($color, $value: 500) {
    @return map-get($color, $value);
}

// Basic

$white: (
  500: #fff
);

$black: (
  500: #000
);

//theme colors
$theme-blue: (
    50: #6ec7f0,
    900: #0076ad
);

$theme-yellow: (
    50: #f2eb51,
    900: #f3c80f
);
